BasedOnStyle: WebKit
InsertNewlineAtEOF: true
IndentPPDirectives: AfterHash
AlignOperands: AlignAfterOperator
BreakInheritanceList: BeforeComma
AlignEscapedNewlines: LeftWithLastLine
KeepEmptyLines:
  AtStartOfBlock: false
  AtStartOfFile: false
IncludeBlocks: Regroup
NamespaceIndentation: All
ColumnLimit: 160
AlignAfterOpenBracket: true
BreakBeforeCloseBracketLoop: true
BreakBeforeCloseBracketSwitch: true
BreakBeforeTemplateCloser: true
BreakAfterOpenBracketBracedList: true
BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketIf: true
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: true
BreakBeforeCloseBracketIf: true
